<html>

<head>

  <meta charset="UTF-8">
  <meta property="og:description" content="Page Description"/>
  <meta property="og:image" content=""/>
  <!-- Browser Titel -->
  <title>{{ item.ansible_facts.name }}</title>
  <!-- Favicon  -->
  <link rel="icon" href="https://akash-web-prod.s3.amazonaws.com/uploads/2020/02/cropped-akash-logo-192x192.png" sizes="192x192" />
  <link rel="canonical" href="{{ item.ansible_facts.url }}#disqus_thread">

  <!-- CSS  -->
  <head>
    <link rel="stylesheet" href="../../css/w3.css">
  </head>
  <link rel="stylesheet" href="../../css/icons.css">
  <link rel="stylesheet" href="../../css/css.css">


</head>

<!-- Navbar -->
<div class="topnav">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <!-- Float links to the right. Hide them on small screens -->
    <p class="right">
      <a href="../../index.html" class="w3-bar-item w3-button"><b>GitBlog</a>
      <a href="../../projects.html" class="w3-bar-item w3-button">Projects</a>
      <a href="../../about.html" class="w3-bar-item w3-button">About</a>
      <a href="../../contact.html" class="w3-bar-item w3-button">Contact</a>
      <a href="../../search.html" class="w3-bar-item w3-button">🔍</a>
  </div>
</div>


<!-- Start README -->

{{ item.ansible_facts.html }}

<!-- END README -->

<!-- Recommendations -->
<div class="disqus_recommendations">
  <div id="disqus_recommendations"></div>
  <script>
    (function () {
      var d = document, s = d.createElement('script'); // IMPORTANT: Replace EXAMPLE with your forum shortname!
      s.src = 'https://https-julianwe-github-io-1.disqus.com/recommendations.js'; s.setAttribute('data-timestamp', +new Date()); // 
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>
    Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript" rel="nofollow">
      comments powered by Disqus.
    </a>
  </noscript>
</div>
<!-- End Recommendations -->

<!-- Comments -->
<div class="disqus_thread">
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = "{{ item.ansible_facts.url }}#disqus_thread";
      this.page.identifier = {{ item.ansible_facts.identifier }};
    };
    (function () { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://https-julianwe-github-io-1.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <script id="dsq-count-scr" src='https://https-julianwe-github-io-1.disqus.com/count.js' async></script>
  <div class="blog-post-comments">
    <div id="disqus_thread">
      <noscript>Please enable JavaScript to view the comments.</noscript>
    </div>
  </div>
</div>
<!-- End Comments -->


<!-- Functions -->
<script>

  function hideClick() {
    var x = document.getElementById("show_disqus_thread");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  function menu() {
    var x = document.getElementById("links");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
</script>

<!-- CodeBlock JS -->
<script src="../../js/prism.js"></script>
<script src="../../js/prismLines.js"></script>

</body>

</html>