<a class="card" href={{ project_csv.link }}>
    <div class="card__background" style="background-image: url({{ project_csv.pic }})">
    </div>
    <div class="card__content">
    <p class="card__category">{{ project_csv.category }}</p>
    <h3 class="card__heading">{{ project_csv.description }}</h3>
    </div>
</a>