<html>

<head>
  <meta charset="UTF-8">
  <!-- Browser Titel CHANGE-->
  <title>{{ item.ansible_facts.name }}</title>
  <!-- Favicon  -->
  <link rel="icon" href="https://akash-web-prod.s3.amazonaws.com/uploads/2020/02/cropped-akash-logo-192x192.png"
    sizes="192x192" />
  <!-- CSS  -->
  <link rel="stylesheet" href="../../css/splendor.css">
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
</head>

<!-- Navbar -->
<div class="topnav">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <!-- Float links to the right. Hide them on small screens -->
    <p class="right">
      <a href="../../index.html" class="w3-bar-item w3-button"><b>GitBlog</a>
      <a href="../../projects.html" class="w3-bar-item w3-button">Projects</a>
      <a href="../../about.html" class="w3-bar-item w3-button">About</a>
      <a href="../../contact.html" class="w3-bar-item w3-button">Contact</a>
      <a href="../../search.html" class="w3-bar-item w3-button">🔍</a>
  </div>
</div>


<!-- Start README -->

{{ item.ansible_facts.html }}

<!-- END README -->

<!-- Hide show comments -->
<p class="w3-right"><button class="w3-button w3-white" onclick="hideClick('show_disqus_thread')"><b>Comments
      &nbsp;</b>💬</span></button></p>

<link rel="stylesheet" href="../../css/w3.css">
<p class="w3-clear"></p>

<div id="show_disqus_thread" style="display:none">
  <!-- Comments -->
  <div id="disqus_thread"></div>
  <script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    var disqus_config = function () {
      this.page.url = "{{ item.ansible_facts.url }}";
      this.page.identifier = "{{ item.ansible_facts.identifier }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function () { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = "https://https-julianwe-github-io-1.disqus.com/embed.js";
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <script id="dsq-count-scr" src="//https-julianwe-github-io-1.disqus.com/count.js" async></script>
  <div class="blog-post-comments">
    <div id="disqus_thread">
      <noscript>Please enable JavaScript to view the comments.</noscript>
    </div>
  </div>
</div>

<!-- Recommendations -->
<div id="disqus_recommendations"></div>
<script>
  (function () { // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
    var d = document, s = d.createElement('script'); // IMPORTANT: Replace EXAMPLE with your forum shortname!
    s.src = "https://https-julianwe-github-io-1/recommendations.js"; s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>
  Please enable JavaScript to view the
  <a href="https://disqus.com/?ref_noscript" rel="nofollow">
    comments powered by Disqus.
  </a>
</nosc

<!-- End Recommendations -->


<!-- copy button -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.7/clipboard.min.js"
  crossorigin="anonymous"></script>

<script type="text/javascript">
  $(function () {
    // copy-btn HTML
    var btn = "<span class=\"btn-copy tooltipped tooltipped-sw\" aria-label=\"Copy to clipboard!\">";
    btn += '<i class="far fa-clone"></i>';
    btn += '</span>';
    // mount it!
    $(".highlight table").before(btn);
    var clip = new ClipboardJS('.btn-copy', {
      text: function (trigger) {
        return Array.from(trigger.nextElementSibling.querySelectorAll('.code')).reduce((str, it) => str + it.innerText + '\n', '')
      }
    });
    clip.on('success', function (e) {
      e.trigger.setAttribute('aria-label', "Copied!");
      e.clearSelection();
    })
  })
</script>
<!-- end copy button -->

<!-- Functions -->
<script>
  function hideClick() {
    var x = document.getElementById("show_disqus_thread");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  function menu() {
    var x = document.getElementById("links");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
</script>

</body>

</html>