<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ vars.home.title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 16 16'><text x='0' y='14'>🐇</text></svg>" />
  <link rel="stylesheet" href={{ vars.paths.blog_css }}>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
  <link rel="icon" href="./images/favicon.png" type="image/svg+xml" sizes="any">
  
</head>

<body class="dark">
    <div class="main-container">
        <div class="aside">
            <div class="logo">
                <a href="../index.html#home"><span></span>{{ vars.home.title }}</a>
            </div>

            <div class="nav-toggler">
                <span></span>
            </div>

            <ul class="nav">
                <li><a href="../index.html#home"><i class="fa fa-home"></i>Home</a></li>
                <li><a href="../index.html#about"><i class="fa fa-user"></i>About</a></li>
                <li><a href="../index.html#services"><i class="fa fa-list"></i>Services</a></li>
                <li><a href="../index.html#blog" class="active"><i class="fa fa-briefcase"></i>Blog</a></li>
                <li><a href="../index.html#contact"><i class="fa fa-comments"></i>Contact</a></li>
                <li><a href="https://github.com/JulianWe/julianwe.github.io"><i class="fa-brands fa-github"></i>GitHub</a></li>
            </ul>
        </div>
    </div>

  <section class="blogpost section " id="blogpost">
      <div class="container">

          <link rel="stylesheet" href="{{ vars.paths.markdown_css }}">
          <link rel="stylesheet" href="{{ vars.paths.md_css }}">
          
          <!-- Start README.md -->

          {{ item.ansible_facts.html }}

          <!-- End README.md -->
      </div>
  </section>

  <!-- JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.10/typed.min.js"></script>
  <script src={{ vars.paths.script_js }}></script>
  <script src={{ vars.paths.prism_js }}></script>

</html>
