@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    pre,
    blockquote {
        border: 1px solid #000000;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
        border-radius: 6px;
        border-radius: 6px;
        border-top: 6px;
        border-bottom: 6px;
        border-left: 6px;
        border-right: 6px;
    }

    img {
        max-width: 100% !important;
        border-image: 6px;
        border-radius: 6px;
        border-top: 6px;
        border-bottom: 6px;
        border-left: 6px;
        border-right: 6px;
    }

    p,
    h2 {
        orphans: 3;
        widows: 3;
    }

    h2 {
        page-break-after: avoid;
    }
}

html {
    font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
    html {
        font-size: 15px;
    }
}

@media screen and (min-width: 48rem) {
    html {
        font-size: 16px;
    }
}



p {
    font-size: 1rem;
    margin-bottom: 1.3rem;
}

h1,
h2 {
    margin: 1.414rem 0 .5rem;
    font-weight: inherit;
    line-height: 1.42;
}

h1 {
    margin-top: 0;
    font-size: 3.998rem;
}

h2 {
    font-size: 2.827rem;
}

small {
    font-size: .707em;
}

/* https://github.com/mrmrs/fluidity */

img,
video,
svg,
select,
textarea {
    max-width: 100%;
    border-radius: 6px;
    border-radius: 6px;
    border-top: 6px;
    border-bottom: 6px;
    border-left: 6px;
    border-right: 6px;
}

@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic,300);

html {
    font-size: 18px;
    max-width: 100%;
}

div img {
    width: 100%;
    max-width: 80rem;
    border-radius: 6px;
    border-radius: 6px;
    border-top: 6px;
    border-bottom: 6px;
    border-left: 6px;
    border-right: 6px;
}

blockquote p {
    font-size: 1.5rem;
    font-style: italic;
    margin: 1rem auto 1rem;
    max-width: 48rem;
}

li {
    margin-left: 2rem;
}

/* Counteract the specificity of the gross *:not() chain. */

h1 {
    padding: 4rem 0 !important;
}

/*  === End gross hack */

p {
    color: #000000;
    height: auto;
    line-height: 1.45;
}

pre,
code {
    font-family: Menlo, Monaco, "Courier New", monospace;
}

/** sourceCode**/

code[class*="sourceCode"],
pre[class*="sourceCode"] {
    color: #ffffff;
    background: none;
    font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    hyphens: none
}

pre[class*="sourceCode"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto
}

:not(pre)>code[class*="sourceCode"],
pre[class*="sourceCode"] {
    background: #2d2d2d
}

:not(pre)>code[class*="sourceCode"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal
}

.token.block-comment,
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
    color: #999
}

.token.punctuation {
    color: #ffffff
}

.token.attr-name,
.token.deleted,
.token.namespace,
.token.tag {
    color: #e2777a
}

.token.function-name {
    color: #6196cc
}

.token.boolean,
.token.function,
.token.number {
    color: #f08d49
}

.token.class-name,
.token.constant,
.token.property,
.token.symbol {
    color: #f8c555
}

.token.atrule,
.token.builtin,
.token.important,
.token.keyword,
.token.selector {
    color: #fbfb20
}

.token.attr-value,
.token.char,
.token.regex,
.token.string,
.token.variable {
    color: #7ec699
}

.token.entity,
.token.operator,
.token.url {
    color: #67cdcc
}

.token.bold,
.token.important {
    font-weight: 700
}

.token.italic {
    font-style: italic
}

.token.entity {
    cursor: help
}

.token.inserted {
    color: green
}

div[class*="sourceCode"] {
    position: relative;
    max-width: 80rem;
    margin-top: 1rem;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-left: auto;
    background-color: #0e2233;
    border-radius: 6px
}

div[class*="sourceCode"] pre,
div[class*="sourceCode"] pre[class*="sourceCode"] {
    background: transparent;
    position: relative;
    z-index: 1
}

div[class*="sourceCode"]:before {
    max-width: 80rem;
    position: absolute;
    z-index: 3;
    top: .8em;
    right: 1em;
    font-size: .75rem;
    color: #ffffff
}

pre[class*="sourceCode"].line-numbers {
    max-width: 80rem;
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

pre[class*="sourceCode"].line-numbers>code {
    position: relative;
    white-space: inherit;
    max-width: 80rem;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid #999;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.line-numbers-rows>span {
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows>span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}

div[class~="sourceCode text"]:before {
    content: "text"
}

div[class~="sourceCode vim"]:before {
    content: "vim"
}

div[class~="sourceCode solidity"]:before {
    content: "sol"
}

div[class~="sourceCode js"]:before {
    content: "js"
}

div[class~="sourceCode ts"]:before {
    content: "ts"
}

div[class~="sourceCode html"]:before {
    content: "html"
}

div[class~="sourceCode md"]:before {
    content: "md"
}

div[class~="sourceCode css"]:before {
    content: "css"
}

div[class~="sourceCode sass"]:before {
    content: "sass"
}

div[class~="sourceCode scss"]:before {
    content: "scss"
}

div[class~="sourceCode less"]:before {
    content: "less"
}

div[class~="sourceCode stylus"]:before {
    content: "stylus"
}

div[class~="sourceCode go"]:before {
    content: "go"
}

div[class~="sourceCode java"]:before {
    content: "java"
}

div[class~="sourceCode c"]:before {
    content: "c"
}

div[class~="sourceCode sh"]:before {
    content: "sh"
}

div[class~="sourceCode yaml"]:before {
    content: "yaml"
}

div[class~="sourceCode py"]:before {
    content: "py"
}

div[class~="sourceCode docker"]:before {
    content: "docker"
}

div[class~="sourceCode dockerfile"]:before {
    content: "dockerfile"
}

div[class~="sourceCode makefile"]:before {
    content: "makefile"
}

div[class~="sourceCode javascript"]:before {
    content: "js"
}

div[class~="sourceCode typescript"]:before {
    content: "ts"
}

div[class~="sourceCode html"]:before {
    content: "html"
}

div[class~="sourceCode markdown"]:before {
    content: "md"
}

div[class~="sourceCode json"]:before {
    content: "json"
}

div[class~="sourceCode ruby"]:before {
    content: "rb"
}

div[class~="sourceCode python"]:before {
    content: "py"
}

div[class~="sourceCode bash"]:before {
    content: "sh"
}

div[class~="sourceCode php"]:before {
    content: "php"
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0
}

.arrow.up {
    border-bottom: 6px solid #ffffff
}

.arrow.down,
.arrow.up {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent
}

.arrow.down {
    border-top: 6px solid #ffffff
}

.arrow.right {
    border-left: 6px solid #ffffff
}

.arrow.left,
.arrow.right {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent
}

.arrow.left {
    border-right: 6px solid #ffffff
}

div[class~="disqus_thread"] {
    position: relative;
    max-width: 50rem;
    margin-top: 1rem;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-left: auto
}

div[class~=disqus_thread]:after {
    content: "";
    display: block;
    height: 55px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: white
}

div[class~="disqus_recommendations"] {
    position: relative;
    max-width: 50rem;
    margin-top: 1rem;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-left: auto
}

div[class~=disqus_recommendations]:after {
    content: "";
    display: block;
    height: 55px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: white
}

.page {
    padding-left: 19rem
}

a {
    font-weight: 500;
    text-decoration: none
}

a,
p a code {
    color: #296161
}

p a code {
    font-weight: 400
}

blockquote {
    font-size: 1rem;
    color: #999;
    border-left: .2rem solid #ffffff;
    margin: 1rem 0;
    padding: .25rem 0 .25rem 1rem
}

blockquote>p {
    margin: 0
}

strong {
    font-weight: 600
}

h1,
h2 {
    font-weight: 600;
    line-height: 1.25
}

h1 {
    font-size: 2.2rem
}

h2 {
    font-size: 1.65rem;
    padding-bottom: .3rem;
    border-bottom: 1px solid #ffffff
}

.line-number,
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace
}

hr {
    border: 0;
    border-top: 1px solid #ffffff
}

table {
    border-collapse: collapse;
    margin: 1rem 0;
    display: block;
    overflow-x: auto
}

tr {
    border-top: 1px solid #dfe2e5
}

tr:nth-child(2n) {
    background-color: #ffffff
}

td,
th {
    border: 1px solid #000000;
    padding: .6em 1em
}

@media (max-width: 959px) {

    .page {
        padding-left: 15.579999999999998rem
    }
}

@media (max-width: 719px) {

    .page {
        padding-left: 0
    }
}

@media (max-width: 419px) {
    h1 {
        font-size: 1.9rem
    }
}


.relative {
    position: relative
}

.fixed {
    position: fixed
}

.btn {
    font-weight: 700;
    padding: 10px 15px;
    border: none;
    font-size: 1em;
    margin-right: 10px;
    border-radius: 2px;
    transition: all .3s;
    cursor: pointer;
    outline: none
}

.navy {
    color: #0b3a53
}

.aqua {
    color: #69c4cd
}

.gray {
    color: #b7bbc8
}

.red {
    color: #ea5037
}

.yellow {
    color: #f39021
}

.teal {
    color: #378085
}

.green {
    color: #0cb892
}

.snow {
    color: #edf0f4
}

.link {
    color: #117eb3
}

@media (min-width: 700px) {

    .is-active {
        border-bottom: 1px solid #fff;
        z-index: 2;
        transform: translateY(0)
    }
}

img[loading] {
    height: auto;
    border-radius: 6px;
}

code {
    word-break: break-word
}

:root {
    --accent-color: #ffffff;
    --text-color: #ffffff;
    --border-color: #ffffff;
    --code-bg-color: #ffffff;
    --highlight-color: #ffffa0
}

@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

@keyframes sk-rotateplane-1bbcb91a {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }

    to {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
    }
}

.home {
    padding: 4rem 2rem 0;
    max-width: 960px;
    margin: 0 auto;
    display: block
}

.home .features {
    border-top: 1px solid #eaecef;
    padding: 1.2rem 0;
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: stretch;
    justify-content: space-between
}

.home .feature {
    flex-grow: 1;
    flex-basis: 30%;
    max-width: 30%
}

.home .feature h2 {
    font-size: 1.4rem;
    font-weight: 500;
    border-bottom: none;
    padding-bottom: 0;
    color: rgba(26, 26, 26, .8)
}

.home .feature p,
.home .footer {
    color: rgba(64, 64, 64, .8)
}

.home .footer {
    padding: 2.5rem;
    border-top: 1px solid #eaecef;
    text-align: center
}

@media (max-width: 719px) {
    .home .features {
        flex-direction: column
    }

    .home .feature {
        max-width: 100%;
        padding: 0 2.5rem
    }
}

@media (max-width: 419px) {
    .home {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }

    .home .feature h2 {
        font-size: 1.25rem
    }
}

@media (min-width: 719px) {


    .nav-item>a:not(.external):hover {
        margin-bottom: -2px;
        border-bottom: 2px solid #327676
    }
}

@keyframes fadein-063e6196 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

pre {
    background-color: #fafafa;
    font-size: .8rem;
    overflow-x: scroll;
    padding: 1.125em;
}

a,
a:visited {
    color: #000000;
}

a:hover,
a:focus,
a:active {
    color: #000000;
}



/* PrismJS 1.29.0
  https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript+abap+abnf+actionscript+ada+agda+al+antlr4+apacheconf+apex+apl+applescript+aql+arduino+arff+armasm+arturo+asciidoc+aspnet+asm6502+asmatmel+autohotkey+autoit+avisynth+avro-idl+awk+bash+basic+batch+bbcode+bbj+bicep+birb+bison+bnf+bqn+brainfuck+brightscript+bro+bsl+c+csharp+cpp+cfscript+chaiscript+cil+cilkc+cilkcpp+clojure+cmake+cobol+coffeescript+concurnas+csp+cooklang+coq+crystal+css-extras+csv+cue+cypher+d+dart+dataweave+dax+dhall+diff+django+dns-zone-file+docker+dot+ebnf+editorconfig+eiffel+ejs+elixir+elm+etlua+erb+erlang+excel-formula+fsharp+factor+false+firestore-security-rules+flow+fortran+ftl+gml+gap+gcode+gdscript+gedcom+gettext+gherkin+git+glsl+gn+linker-script+go+go-module+gradle+graphql+groovy+haml+handlebars+haskell+haxe+hcl+hlsl+hoon+http+hpkp+hsts+ichigojam+icon+icu-message-format+idris+ignore+inform7+ini+io+j+java+javadoc+javadoclike+javastacktrace+jexl+jolie+jq+jsdoc+js-extras+json+json5+jsonp+jsstacktrace+js-templates+julia+keepalived+keyman+kotlin+kumir+kusto+latex+latte+less+lilypond+liquid+lisp+livescript+llvm+log+lolcode+lua+magma+makefile+markdown+markup-templating+mata+matlab+maxscript+mel+mermaid+metafont+mizar+mongodb+monkey+moonscript+n1ql+n4js+nand2tetris-hdl+naniscript+nasm+neon+nevod+nginx+nim+nix+nsis+objectivec+ocaml+odin+opencl+openqasm+oz+parigp+parser+pascal+pascaligo+psl+pcaxis+peoplecode+perl+php+phpdoc+php-extras+plant-uml+plsql+powerquery+powershell+processing+prolog+promql+properties+protobuf+pug+puppet+pure+purebasic+purescript+python+qsharp+q+qml+qore+r+racket+cshtml+jsx+tsx+reason+regex+rego+renpy+rescript+rest+rip+roboconf+robotframework+ruby+rust+sas+sass+scss+scala+scheme+shell-session+smali+smalltalk+smarty+sml+solidity+solution-file+soy+sparql+splunk-spl+sqf+sql+squirrel+stan+stata+iecst+stylus+supercollider+swift+systemd+t4-templating+t4-cs+t4-vb+tap+tcl+tt2+textile+toml+tremor+turtle+twig+typescript+typoscript+unrealscript+uorazor+uri+v+vala+vbnet+velocity+verilog+vhdl+vim+visual-basic+warpscript+wasm+web-idl+wgsl+wiki+wolfram+wren+xeora+xml-doc+xojo+xquery+yaml+yang+zig&plugins=line-highlight+line-numbers+show-language+command-line+toolbar+copy-to-clipboard+treeview */
/**
  * okaidia theme for JavaScript, CSS and HTML
  * Loosely based on Monokai textmate theme by http://www.monokai.nl/
  * @author ocodia
  */


code[class*="sourceCode"],
pre[class*="sourceCode"] {
    max-width: 80rem;
    color: #ffffff;
    background: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', 'monospace';
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre[class*="sourceCode"] {
    max-width: 50rem;
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.3em;
}

:not(pre)>code[class*="sourceCode"],
pre[class*="sourceCode"] {
    max-width: 80rem;
    background: #ffffff;
    margin-top: 1rem;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-left: auto;

}

/* Inline code */
:not(pre)>code[class*="sourceCode"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #8292a2;
}

.token.punctuation {
    color: #ffffff;
}

.token.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: #fbff29;
}

.token.boolean,
.token.number {
    color: #fffb02;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #00ffff;
}

.token.operator,
.token.entity,
.token.url,
.style .token.string,
.token.variable {
    color: #ffffff;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
    color: #3fed5f;
}

.token.keyword {
    color: #66d9ef;
}

.token.regex,
.token.important {
    color: #eaff02;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

pre[data-line] {
    position: relative;
    padding: 1em 0 1em 3em;
}

.line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    padding: inherit 0;
    margin-top: 1em;
    /* Same as .prism’s padding-top */

    background: #ffffff;
    background: linear-gradient(to right, hsla(24, 20%, 50%, .1) 70%, hsla(24, 20%, 50%, 0));

    pointer-events: none;

    line-height: inherit;
    white-space: pre;
}

@media print {
    .line-highlight {
        /*
        * This will prevent browsers from replacing the background color with white.
        * It's necessary because the element is layered on top of the displayed code.
        */
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}

.line-highlight:before,
.line-highlight[data-end]:after {
    content: attr(data-start);
    position: absolute;
    top: .4em;
    left: .6em;
    min-width: 1em;
    padding: 0 .5em;
    background-color: hsla(24, 20%, 50%, .4);
    color: #ffffff;
    font: bold 65%/1.5 sans-serif;
    text-align: center;
    vertical-align: .3em;
    border-radius: 999px;
    text-shadow: none;
    box-shadow: 0 1px white;
}

.line-highlight[data-end]:after {
    content: attr(data-end);
    top: auto;
    bottom: .4em;
}

.line-numbers .line-highlight:before,
.line-numbers .line-highlight:after {
    content: none;
}

pre[id].linkable-line-numbers span.line-numbers-rows {
    pointer-events: all;
}

pre[id].linkable-line-numbers span.line-numbers-rows>span:before {
    cursor: pointer;
}

pre[id].linkable-line-numbers span.line-numbers-rows>span:hover:before {
    background-color: rgba(128, 128, 128, .2);
}

pre[class*="sourceCode"].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

pre[class*="sourceCode"].line-numbers>code {
    position: relative;
    white-space: inherit;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid #999;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.line-numbers-rows>span {
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows>span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}



.command-line-prompt {
    border-right: 1px solid #999;
    display: block;
    float: left;
    font-size: 100%;
    letter-spacing: -1px;
    margin-right: 1em;
    pointer-events: none;
    text-align: right;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.command-line-prompt>span:before {
    opacity: 0.7;
    content: ' ';
    display: block;
    padding-right: 0.8em;
}

.command-line-prompt>span[data-user]:before {
    content: "[" attr(data-user) "@" attr(data-host) "] $";
}

.command-line-prompt>span[data-user="root"]:before {
    content: "[" attr(data-user) "@" attr(data-host) "] #";
}

.command-line-prompt>span[data-prompt]:before {
    content: attr(data-prompt);
}

.command-line-prompt>span[data-continuation-prompt]:before {
    content: attr(data-continuation-prompt);
}

.command-line span.token.output {
    /* Make shell output lines a bit lighter to distinguish them from shell commands */
    opacity: 0.7;
}



