[colors]
highlight = white
#verbose = blue
verbose = bright green
warn = bright gray
error = bright red
#debug = dark gray
#deprecate = purple
skip = bright cyan
#unreachable = red
ok = bright green
changed = bright yellow
#diff_add = green
#diff_remove = red
#diff_lines = cyan
roles_path = /Users/jw/Documents/GitHub/julianwe.github.io/ansible/roles/
inventory = /Users/jw/Documents/GitHub/julianwe.github.io/ansible/inventory.yml
